.c-pagination{
    $root: &;

    display: flex;
    align-items: center;

    &__btn {
        opacity: 0.5;
        svg {
            width: 30px;
            height: 30px;
            fill: $white;
        }

        &--prev svg{
            transform: rotate(180deg);
        }
    }

  &__count {
      font-size: 15px;
      color: $white;
  }

  &.is-active {
    #{$root}__btn {
        cursor: pointer;
        opacity: 1;
    }
  }
}