.c-annotation {
  $root: &;

  border: 1px solid transparent;
  position: absolute;
  top: 200px;
  left: 200px;
  width: 217px;
  height: 70px;

  &--image {
    width: 250px;
    height: 100px;
  }

  &__input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: none;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  &__value {
    overflow: hidden;
    white-space: pre-line;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
    }

    &:active {
      cursor: move;
    }
  }

  &__upload-icon {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparentize($color-grey, 0.05);
    color: $white;
    display: none;
  }

  &__options {
    position: absolute;
    bottom: 100%;
    left: 50%;
    align-items: center;
    background: transparentize($color-grey, 0.05);
    border-radius: 5px 5px 0 0;
    transform: translateX(-50%);
    display: none;
    z-index: 3;
  }

  &__option {
    cursor: pointer;
    padding: 7px;

    svg {
      width: 20px;
      height: 20px;
      fill: $color-golden;
    }

    &:first-child {
      border-right: 1px solid $color-grey;
    }
  }

  &__resize {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    background: transparentize($color-grey, 0.05);
    cursor: pointer;
    display: none;
    z-index: 3;

    svg {
      fill: $white;
      width: 20px;
      height: 20px;
      transform: rotate(90deg);
    }

    &:active {
      cursor: nwse-resize;
    }
  }

  &__resize-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__additional {
    top: 100%;
    left: 50%;
    right: 0;
    width: 190px;
    display: flex;
    padding: 5px 15px;
    position: absolute;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    background: transparentize($color-grey, 0.05);
    display: none;
  }

  &__formats {
    display: flex;
    align-items: center;
  }

  &__format {
    color: $white;
    font-size: 13px;
    cursor: pointer;
    margin-right: 8px;

    &--italic {
      font-style: italic;
    }

    &--bold {
      font-weight: $font-weight-bold;
    }
  }

  &__colors {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__color {
      width: 15px;
      height: 15px;
      background: #000;
      border-radius: 10px;
      margin-left: 8px;
      cursor: pointer;
      border: 1px solid transparent;

      &.is-active {
          border: 1px solid $color-golden;
      }
  }

  &--text {
    #{$root}__resize  {
      left: 0;
      transform: translate(-50%, 50%);

      svg {
        transform: rotate(180deg);
      }

      &:active {
        cursor: nesw-resize;
      }
    }
  }

  &.is-active {
    border: 1px solid $color-grey;

    #{$root}__options,
    #{$root}__resize {
      display: flex;
    }
  }

  &.is-edit {
    #{$root}__input {
      z-index: 2;
      display: block;
    }

    #{$root}__value {
      z-index: 1;
      display: none;
    }

    #{$root}__upload-icon {
      display: flex;
    }

    #{$root}__additional {
      display: flex;
    }

    #{$root}__resize {
      display: none;
    }
  }

  &--image {
    #{$root} {
      &__value {
        padding: 0;
        display: block !important;
      }
    }
  }
}
